<% if !@posts.empty? %>
	<% @posts.each do |post| %>
		<div class="post">
			<h2 class="post-title"><a href="/posts/<%=post.id%>"><%= post.title %></a></h2>
				<p class="post_writer">by <a href="/writers/<%=post.writer.id%>/public"><%= post.writer.username %></p>
				<div class="post_votes">
					<%= button_to "Upvote", { action: "upvote", id: post.id }, method: :post %>
					<%= button_to "Downvote", { action: "downvote", id: post.id }, method: :post %>
				</div>
				<div class="post_flag">
					<%= button_to "Flag", posts_flag_path(post) %>
				</div>
				<% if post.responses %>
			  	<div class="post_responses">
						<ul>
							<% post.responses.each do |response| %>
								<% if response.approved || current_user == post.writer %>
										<li><a href="/posts/<%=post.id%>/responses/<%=response.id%>"><%= response.title %></a></li>
								<% end %>
							<% end %>
						</ul>
					</div>
				<% end %>

				<div class="post-engagement-links">
					<% if current_user && current_user != post.writer %>
						<!-- link_to "Write Response", "/posts/:id/responses/new" -->
						<a href="/posts/<%=post.id%>/responses/new">Write Response</a>
					<% elsif current_user == post.writer %>
						<a href="/posts/<%post.id%>/edit">Edit Post</a>
					<% end %>
				</div>
		</div>
	<% end %>	
<% else %>
	<p>There are currently no published posts for this topic.</p>
<% end %>

