<h2>Hello, <%= @writer.username %></h2>
<%= link_to "New Post", controller: "posts", action: "new" %>
<div class="posts">
	<h4>Posts you have written:</h4>
	<% @posts.each do |post| %>
		<div class="post">
			<span>
				<h5><a href="/posts/<%=post.id%>"><%= post.title %></a></h5>
				<p>Published: 
					<% if post.published %>
						✔
					<% else %>
						✘
					<% end %>
				</p>
			</span>
		</div>
	<%end%>
</div>

<% if @responses %>
	<div class="responses">
		<h4>Responses you have written:</h4>
			<% @responses.each do |response| %>
				<div class="response">
					<span>
						<h6><a href="/responses/<%=response.id%>"><%=response.title%></a></h6>
						<p>Approved: 
							<% if response.approved %>
								✔
							<% else %>
								✘
							<% end %>
						</p>
					</span>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
