<h2>Hello, <%= @writer.username %></h2>
<%= link_to "New Post", controller: "posts", action: "new" %>
<div class="posts">
	<h4>Posts you have written:</h4>
	<% @posts.each do |post| %>
		<div class="post">
			<h5><a href="/posts/<%=post.id%>"><%= post.title %></a></h5>
		</div>
	<%end%>
</div>

<div class="responses">
	<h4>Responses you have written:</h4>
			<%=@responses.each do |response| %>
				<div class="response">
					<h6><a href="/posts/<%=response.post.id%>/responses/<%=response.id%>"><%=response.title %></a></h6>
				</div>
			<% end %>
		</div>
</div>
