<div class="post">
	<h5><%= @post.title %></h5>
	<p>Category: <%= @post.category %></p>
	<p><%= @post.content %></p>
	<p><%= @post.requests_for_responses %></p>
	<p><%= @post.additional_resources %></p>

	<div class="post_responses">
		<%=@post.responses.each do |response| %>
			<div class="response">
				<h6><a href="/posts/<%=@post.id%>/responses/<%=response.id%>"><%= response.title %></a></h6>
				<p><%= response.content %></p>
				<p class="response_author"><%=response.writer.username %></p>
				<p class="response_date"><%=response.created_at %></p>
			</div>
		<% end %>
	</div>

	<% if current_user == @post.writer %>
		<div class="edit_links">
			<%= link_to "Edit Post", controller: "posts", action: "edit", id: @post %>
			<%= button_to "Delete Post", { action: "destroy", id: @post.id },
                                method: :delete, data: { confirm: "Are you sure?" } %>
		</div>
	<%end%>

</div>

