<!DOCTYPE html>
<html>
<head>
  <title>PeanutGallery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

</head>
<body>
	<header>
		<div class="">
		<h1><a href="/">PeanutGallery</a></h1>
		<h4>
		</div>
		<%if current_user%>
      <h1 class="">Hello, <%=current_user.username%></h1>
      <nav class="">
          <button><a href="/writers/<%=current_user.id%>">Home</a></button>
          <button><a href="/posts/active_posts">View Active Posts</a></button>
          <form class="" id="" action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <button><input class="" type="submit" value="Logout"></button>
          </form>
      </nav>
    <%else%>
       <nav class="">
          <button><a href="/">Home</a></button>
          <button><a class="" href="/register">Register</a></button>
          <button><a class="" href="/login">Login</a></button>
      </nav>
    <%end%>
	</header>

<%= yield %>
   <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>
